body {
  margin: 0;
  font-family: 'Fira Code', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 选中后的背景颜色 */
::selection {
  background:pink;
  color:white;
}
::-moz-selection {
  background:#ccc;
  color:#ff645d;
}
::-webkit-selection {
  background:#ccc;
  color:#ff645d;
}

.my__component__wrapper {
  position: relative;
    width: 100%;
    color: black;
    background-color: rgb(100, 237, 173);

    font-size: 1rem;

    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap ;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    min-height: calc(100vh - 90px);
    border: 1px solid red;
}

.HRight {
    width: 45%;
    position: absolute;
    right: 0;
}